/target
/cpp/boost_1_85_0
/cpp/include/boost/** 
/cpp/include/ntcore/**
/opencv


.venv
build
allwpilib
bin/

*.log
*.tar.gz
*.gz
*.biz
*__pycache__

cpp/libs/boost
cpp/include/boost
cpp/cmake
cpp/src/dev_overwrite_global.cpp
