/target
/cpp/boost_1_85_0
/cpp/include/boost/** 
/cpp/include/ntcore/**
/opencv


.venv
build
cross
winBuild
allwpilib
bin/
boost-1.85.0-cmake
# temperorily not tracking front end
frontend

*.png
*.log
*.tar.gz
*.zip
*.7z
*.gz
*.biz
*__pycache__
*.perf
*.data

cpp/libs/boost
cpp/include/boost
cpp/cmake
cpp/src/dev_overwrite_global.cpp
